<h1>チャットルーム</h1>
<!-- チャットメッセージの入力フォーム -->
<form>
  <label for="sender">お名前：</label>
  <input type="text" id="sender" size="16" /><br />
  <label for="content">メッセージ：</label>
  <input type="text" id="content" size="50" /><br />
</form>
<!-- チャットメッセージの表示場所 -->
<div id ='messages'>
</div>